<h2>Add a famous celebrity</h2>

<form action="/celebrities/create" method="post">


<label for="name"> The Famous Celebrity name :</label>
<input id="name" type="text" name="name" />

<label for="occupation">The Famous Occupation :</label>
<input id="occupation" type="text" name="occupation"> 

<label for="catchPhrase"> The Famous CatchPhrase :</label>
<input id="catchPhrase" type="text" name="catchPhrase"> 

<button> Add a Celebrity !!</button>


</form>